<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">操作记录查询</span>

                <div class="widget-buttons">
                    <a href="" widget-maximize></a>
                    <a href="" widget-collapse></a>
                    <a href="" widget-dispose></a>
                </div>
            </div>
            <div class="widget-body" ng-controller="OperationRecordCtrl as operationCtrl">
                <div class="dataTables_filter">
                    <label>
                    <span class="input-icon">
                        <input type="search" class="input-sm"
                               ng-model='operationCtrl.filterValue' ng-change='operationCtrl.filter()'/>
                        <i class="glyphicon glyphicon-search primary"></i>
                    </span>
                    </label>
                </div>
                <div ui-grid="operationCtrl.operationRecordOptions" ui-grid-expandable ui-grid-auto-resize
                     style="height: 400px;"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="operationRecord.html">
    <div>
        {{row.entity.command}}
    </div>
</script>